{% extends 'base.html' %}

{% block head %}

<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h3>Tervetuloa {{user}}!<h3>

{% else %}
<h3>Tervetuloa<h3>
{% endif %}

<ul>
    {% for object in search_objects.all %}
      <li>{{object.city}}</li>
    {% endfor %}
</ul>


<div id="container" style="width:100%; height:400px;">
<script type="application/javascript">

$(function () {

    var objects = $.get({
      url: "/graph",
      success: function(data) {

        var counts = {};
        for (var i = 0; i < data.length; i++) {
          counts[data[i]] = 1 + (counts[data[i]] || 0);
        }
        var keys = Object.keys(counts);
        var values = Object.values(counts);


        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'bar',
                marginLeft: 100,
                width: 500
            },
            title: {
                text: 'Palvelussa tehdyt haut'
            },
            xAxis: {
                categories: keys
            },
            yAxis: {
                title: {
                    text: 'Määrä'
                },
                allowDecimals: false
            },
            series: [{
                name: 'Hakujen määrä',
                data: values
            }]
        });
      }
    });

});

</script>
</div>

{% endblock %}
