{% extends 'base.html' %}

{% block content %}
<h3>Kirjaudu sisään</h3>

{% if user.is_authenticated %}
 <h3>Olet jo kirjautunut sisään<h3>

{% else %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Kirjaudu sisään</button>
</form>

<fb:login-button
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>

<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '374450249728045',
    cookie     : true,
    xfbml      : true,
    version    : 'v2.12'
  });

  FB.AppEvents.logPageView();
};

function checkLoginState() {
  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);

    FB.api('/me?fields=first_name,last_name,email', function(response) {

        var user_object = {
          "first_name": response.first_name,
          "last_name": response.last_name,
          "email": response.email,
          "id": response.id
        }

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
          url: '/facebookRegistration/',
          type: "POST",
          contentType: 'application/json; charset=utf-8',
          data: JSON.stringify(user_object),
          dataType: 'json',
          success: function(response) {
            window.location.replace("https://kallensaapalvelu.herokuapp.com/");
          }
        });
    });
  });
}


(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "https://connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>


{% endif %}
{% endblock %}
