{% extends 'base.html' %}

{% block content %}
<h3>Hei {{user}}!</h3>
<br></br>
<p>Tänne voit kirjata omia muistiinpanoja esimerkiksi säätiedoista</p>

<form method="post">
  {% csrf_token %}
  {{form.as_p}}
  <button type="submit">Tallenna</button>
</form>
<br></br>
<p>Aiemmat muistiinpanosi:</p>

<ul>
  {% for note in user.notes.all %}
    <li>{{note.pub_date}} - <b>{{note.notetitle}}</b> - {{note.notes}}
      <button><a href="modifynote/{{note.id}}">Muokkaa</a></button>
      <button><a href="deletenote/{{note.id}}">Poista</a></button>
    </li>
  {% endfor %}
</ul>

{% endblock %}
