{% extends 'base.html' %}
{% block content %}
<h3> Tervetuloa käyttämään Kallen sääpalvelua! :)</h3>
<br></br>
<p>Valitse haluamasi paikkakunta Suomesta ja katso tämänhetken lämpötila (°C):</p>
<form id="searchForm">
  <input id=searchValue />
  <input type="button" id="searchButton" value="Hae" />
</form>
{% csrf_token %}
<script>

  $("#searchForm").submit( function(event) {
    event.preventDefault();
    var value = $("#searchValue").val();
    searchCurrentTemp(value);
  })

  $("#searchButton").click( function() {
    var value = $("#searchValue").val();
    searchCurrentTemp(value);
  })

  function searchCurrentTemp(location){
    var API_KEY = "{{api_key}}";
    const REQUEST = "https://api.openweathermap.org/data/2.5/weather?q="+ location + ",fi&APPID=" + API_KEY;

    $.get({
      url: REQUEST,
      error: function(xhr, ajaxOptions, thrownError) {
        $("#temp").text("Kaupunkia ei löytynyt.");
      },
      success: function( data ) {
      console.log(data)
      var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
          url: "/weatherhandle/",
          type: "POST",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(data),
          dataType: 'json',
          success: function (response) {
            $("#temp").text(response);
          }
        });
    }});
  }
</script>
<h2 id="temp" style="text-align: center;"></h2>
{% endblock %}
